<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav" style="padding-bottom: 8px;">
    <button class="navbar-toggler navbar-toggler-right btn-noborder" style="display: block;" type="button"  aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="width:1em;height:1em;"></span>
    </button>
    <a class="navbar-brand" href="#"><img src="../assets/images/logos/logo_new.png"></a>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav collapsed" id="exampleAccordion" style="width:55px;">
            <li *ngFor="let item of navSideBarItems" class="nav-item" style="width:55px;" data-toggle="tooltip" data-placement="right" title="{{item.title}}">
                    <a class="nav-link" href="{{item.url}}" style="width:55px;">
                        <i class="{{item.iconClass}} menu-icon"></i>
                        <span class="nav-link-text">{{item.description}}</span>
                    </a>
            </li>
        </ul>

        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center"  id="sidenavToggler" style="display: none;">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-fw fa-user"></i>
                    <span class="indicator text-primary d-none d-lg-block">
                        <i class="fa fa-fw fa-circle"></i>
                    </span>
                </a>
                <div class="dropdown-menu menudropdown userd" aria-labelledby="messagesDropdown">
                    
                    <div class="container userpro" style="border-radius: 0px;">
                        <div class="img-area">
                            <div class="inner-area">
                                <img [src]="userProfileImg" alt="">
                            </div>
                        </div>
                        <div class="name">{{userFirstName}}</div>
                        <div class="about">{{userOrganisation}}</div>
                        <div>
                            <button class="btn4 bt"  (click)="showUserProfile()">Detail</button>
                            <button class="btn4 bt" (click)="logoutUser()">Logout</button>
                        </div>

                    </div>
                </div>
            </li>

        </ul>
    </div>
</nav>